*{
    margin: 0px;
    padding: 0px;
}
// Promenljive //
$WP: rgba(0, 0, 0, 0.5);
$BC: #2d2f31;
$BC1: rgba(255, 255, 255, 0.1);
$FC: #b3b2a0;
$BD: #363940;
$SD: -5px 5px 12px;
//Mixin//
@mixin centriranje {
    width: 80%;
    margin: 0px auto;
}
@mixin SB {
    display: flex;
    justify-content: space-between;
}
@mixin SE {
    display: flex;
    justify-content: space-evenly;
}
//Font//
@font-face{
    src: url("../font/RobotoSlab-VariableFont_wght.ttf");
    font-family: Roboto;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Raboto;
}
header{
    padding: 30px 0px;
    width: 100%;
    background-color: $BC;
        .wrapper{
            @include centriranje;
            .fn{
                @include SB;
                #logo{
                    a{
                        color: $FC;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
                nav{
                    ul{
                        list-style-type: none;
                        li{
                            display: inline-block;
                            margin: 0px 15px;
                            a{
                                text-decoration: none;
                                color: $FC;
                                font-size: 22px;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
}
main{
    #cover{
        width: 100%;
        height: 865px;
        background: url(../img/Cover5.jpg) no-repeat;
        background-position: left;
        background-size: cover;
        #transparent{
            width: 100%;
            height: inherit;
            background-color: $WP;
            #title{
                width: 100%;
                background: $WP;
                top: 240px;
                position: relative;
                left: 0px;
                animation-name: Animation;
                animation-duration: 2s;
                .wrapper{
                    @include centriranje;
                    h1{
                        font-size: 75px;
                        color: #dadad1;
                        padding: 10px 0px
                    }
                    h2{
                        font-size: 35px;
                        color: $FC;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    .title-center{
        text-align: center;
        margin-top: 40px;
        h3{
            font-size: 28px;
            letter-spacing: 3px;
        }
        p{
            font-size: 18px;
            letter-spacing: 6px;
            margin-top: 10px;
        }
    }
    .wrapper{
        @include centriranje;
        .row{
            @include SB;
            margin-top: 65px;
            #author-img{
                img{
                    width: 450px;
                    border-radius: 20px;
                    box-shadow: $SD $BC;
                }
            }
            #author-info{
                width: 450px;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 18px;
                    line-height: 40px;
                }
            }
        }
    }
    .wrapper{
        @include centriranje;
        .row{
            @include SE;
            .blok{
                img{
                    border-radius: 20px;
                    box-shadow: $SD $BC;
                    width: 200px;
                }
                p{
                    text-align: center;
                    font-size: 30px;
                    margin-top: 10px;
                    font-weight: bold;
                }
            }
        }
    }
    .wrapper{
        @include centriranje;
        .row{
            @include SE;
            .blok1{
                img{
                    width: 550px;
                    border-radius: 20px;
                    box-shadow: $SD $BC;
                    opacity: 0.9;
                    &:hover{
                        transform: scale(1.1);
                        transition: 2s, 2s, 0.5s;
                        opacity: 0.5;
                    }
                }
                p{
                    text-align: center;
                    font-size: 25px;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    #form-pozadina{
        .title-center1{
            margin-bottom: 30px;
        }
        .wrapper{
            .row{
                @include SE;
                .blok2{
                    form{
                        input[type=text]{
                            width: 600px;
                            height: 40px;
                            padding: 12px 20px;
                            margin: 8px 0px;
                            border: 1px solid $BD;
                            border-radius: 4px;
                            box-sizing: border-box;
                            background: $BC1;
                        }
                        textarea{
                            width: 100%;
                            height: 100px;
                            padding: 12px 20px;
                            box-sizing: border-box;
                            border-radius: 4px;
                            background: $BC1;
                            font-size: 14px;
                            resize: none;
                        }
                        input[type=submit]{
                            width: 25%;
                            background-color: $BD;
                            padding: 14px 20px;
                            margin: 8px 0px;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            color: #fff;
                            &:hover{
                                background-color: #c5c5b2;
                                color: #030303;
                            }
                        }
                    }
                }
                .blok2{
                    h4{
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    ul{
                        list-style-type: none;
                        li{
                            font-size: 20px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    background: $BC;
    padding: 20px 0px;
    margin-top: 30px;
    .wrapper2{
        @include centriranje;
        @include SB;
        #copyright{
            color: $FC;
        }
        nav{
            ul{
                list-style-type: none;
                li{
                    display: inline-block;
                    a{
                        font-size: 20px;
                        margin-left: 20px;
                        color: $FC;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
@keyframes Animation{
    from {left: 150%}
}