*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    src: url("../font/RobotoSlab-VariableFont_wght.ttf");
    font-family: Roboto;
}
body{
    font-family: Raboto;
}
header{
    padding: 30px 0px;
    width: 100%;
    background-color: #2d2f31;
        .wrapper{
            width: 80%;
            margin: 0px auto;
            .fn{
                display: flex;
                justify-content: space-between;
                #logo{
                    a{
                        color: #b3b2a0;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
                nav{
                    ul{
                        list-style-type: none;
                        li{
                            display: inline-block;
                            margin: 0px 15px;
                            a{
                                text-decoration: none;
                                color: #b3b2a0;
                                font-size: 22px;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
}
main{
    #cover{
        width: 100%;
        height: 865px;
        background: url(../img/Cover5.jpg) no-repeat;
        background-position: left;
        background-size: cover;
        #transparent{
            width: 100%;
            height: inherit;
            background-color: rgba(0, 0, 0, 0.5);
            #title{
                width: 100%;
                background: rgba(0, 0, 0, 0.4);
                top: 240px;
                position: relative;
                left: 0px;
                animation-name: Animation;
                animation-duration: 2s;
                .wrapper{
                    width: 80%;
                    margin: 0px auto;
                    h1{
                        font-size: 75px;
                        color: #dadad1;
                        padding: 10px 0px
                    }
                    h2{
                        font-size: 35px;
                        color: #b3b2a0;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    .title-center{
        text-align: center;
        margin-top: 40px;
        h3{
            font-size: 28px;
            letter-spacing: 3px;
        }
        p{
            font-size: 18px;
            letter-spacing: 6px;
            margin-top: 10px;
        }
    }
    .wrapper{
        width: 80%;
        margin: 0px auto;
        .row{
            display: flex;
            justify-content: space-between;
            margin-top: 65px;
            #author-img{
                img{
                    width: 450px;
                    border-radius: 20px;
                    box-shadow: -5px 5px 12px #2d2f31;
                }
            }
            #author-info{
                width: 450px;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 18px;
                    line-height: 40px;
                }
            }
        }
    }
    .wrapper{
        width: 80%;
        margin: 0px auto;
        .row{
            display: flex;
            justify-content: space-evenly;
            .blok{
                img{
                    border-radius: 20px;
                    box-shadow: -5px 5px 12px #2d2f31;
                    width: 200px;
                }
                p{
                    text-align: center;
                    font-size: 30px;
                    margin-top: 10px;
                    font-weight: bold;
                }
            }
        }
    }
    .wrapper{
        width: 80%;
        margin: 0px auto;
        .row{
            display: flex;
            justify-content: space-evenly;
            .blok1{
                img{
                    width: 550px;
                    border-radius: 20px;
                    box-shadow: -5px 5px 12px #2d2f31;
                    opacity: 0.9;
                    &:hover{
                        transform: scale(1.1);
                        transition: 2s, 2s, 0.5s;
                        opacity: 0.5;
                    }
                }
                p{
                    text-align: center;
                    font-size: 25px;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    #form-pozadina{
        .title-center1{
            margin-bottom: 30px;
        }
        .wrapper{
            .row{
                justify-content: space-evenly;
                .blok2{
                    form{
                        input[type=text]{
                            width: 600px;
                            height: 40px;
                            padding: 12px 20px;
                            margin: 8px 0px;
                            border: 1px solid #363940;
                            border-radius: 4px;
                            box-sizing: border-box;
                            background: rgba(255, 255, 255, 0.1);
                            color: #fff;
                        }
                        textarea{
                            width: 100%;
                            height: 100px;
                            padding: 12px 20px;
                            box-sizing: border-box;
                            border-radius: 4px;
                            background: rgba(255, 255, 255, 0.1);
                            font-size: 14px;
                            color: #fff;
                            resize: none;
                        }
                        input[type=submit]{
                            width: 25%;
                            background-color: #363940;
                            color: #fff;
                            padding: 14px 20px;
                            margin: 8px 0px;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            &:hover{
                                background-color: #8f8e84;
                                color: #363940;
                            }
                        }
                    }
                }
                .blok2{
                    h4{
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    ul{
                        list-style-type: none;
                        li{
                            font-size: 20px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    background: #2d2f31;
    padding: 20px 0px;
    margin-top: 30px;
    .wrapper2{
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        #copyright{
            color: #b3b2a0;
        }
        nav{
            ul{
                list-style-type: none;
                li{
                    display: inline-block;
                    a{
                        font-size: 20px;
                        margin-left: 20px;
                        color: #b3b2a0;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
@keyframes Animation{
    from {left: 150%}
}